html, body {
    height: 100%;
    font-family: 'Helvetica', sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../images/background.jpg");
}

#container > .error-message {
    display: flex;
    position: absolute;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: crimson;
    color: white;
    top: 35px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 -2px 10px 3px rgba(0, 0, 0, .25);
    -moz-box-shadow:    0 -2px 10px 3px rgba(0, 0, 0, .25);
    box-shadow:         0 -2px 10px 3px rgba(0, 0, 0, .25);
}

#container > .button {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: 50px;
    background-color: #b8cd00;
    border: solid 10px #000;
    cursor: pointer;
}

#container > .button.fetching {
    cursor: none;
    background-color: #c7dc00;
}

#container > .button:not(.fetching):hover {
    background-color: #aec300;
}

#container > .button:not(.fetching):focus,
#container > .button:not(.fetching):active
{
    background-color: #9daf00;
}

#container > .button > .text {
    font-size: 4.5rem;
}

#container > .test-button {
    width: 75px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #81c9cd;
    cursor: pointer;
    opacity: 0.10;
}

#container > .test-button.fetching {
    cursor: none;
    background-color: #96e7eb;
}

#container > .test-button:hover {
    background-color: #6db5b9;
}

#container > .test-button:focus,
#container > .test-button:active
{
    background-color: #59979b;
}